Makefile.local
Makefile.config
_build
mezzo
test
testsuite
*.native
*.byte
bisect*.out
coverage*.out
configure.ml
callgrind.out.*
tmp/*
myocamlbuild.ml
.DS_Store
*#
*~.DS_Store
*.aux
*.log
*.out
*.toc
*.aux
*.bbl
*.blg
*.out
*.log
*.nav
*.toc
*.snm
*.vrb
*.cm*
*.thm
*.cb
*.cb2
*.fls
*.fdb_latexmk
*.maf
*.mtc*
*.ptc*
*.lof
*.class
*.pdfsync
_minted-main
